<<<<<<< HEAD
.scrollbar {
    max-height: 150px;
    overflow: auto;
}
=======
header {
    z-index: 10;
}

>>>>>>> 3a48b3ce35625d81dda884dddbe89eef29ab7e4d
.navbar-header .navbar-toggle .icon-bar {
    background-color: blue;
    /*position: absolute;*/
}

.navbar-header .navbar-brand {
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    color: dodgerblue;
}
.subtitle {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-family: cursive;
    color: cornflowerblue;
}
<<<<<<< HEAD

li {
    color: blue;
}

.worship {
    background : url("../Home.jpg");
    /*background-repeat: no-repeat;
=======
/* Issue 1*/
@keyframes circle {
    from {color: red;}
    to {color: yellow;}
}

.navbar-right li a:hover {
    -webkit-animation-name: circle;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: forwards;
}


body {

    background-repeat: no-repeat;
>>>>>>> 3a48b3ce35625d81dda884dddbe89eef29ab7e4d
    -webkit-background-size: cover;
    background-size: cover; */
}

<<<<<<< HEAD
/*.welcome {
    left: 0px;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    top: 50%;
=======
/* Issue #2 */
.worship {
    background:  url("../Home.jpg") repeat-x center;
    height: 500px;
    left: 0;
    z-index: 1;
    /*line-height: 500px;*/
    margin: 10px 0 0 0;
    /*margin-top: -100px;*/
    /*position: absolute;*/
>>>>>>> 3a48b3ce35625d81dda884dddbe89eef29ab7e4d
    width: 100%;
    position: absolute;
}
*/

.welcome {
    margin-top: 100px;
}

.welcome p {
    margin-top: 80px;
}
.welcome {
    margin-top: 100px;
}

.welcome p {
    margin-top: 80px;
}

h4 {
    text-align: center;
    font-family: Courier;
    font-size: 25px;
}

h1, h3 {
    text-align: center;
    font-family: Big Caslon;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: Cursive;
    font-size: medium;
}

footer {
    position: absolute;
    background-color: #000000;
    bottom: 0px;
<<<<<<< HEAD
    right: 0px;
    left: 0px
    width: 100%;
=======
    width: 100%;
    /*right: 0px;
    left: 0px;*/
>>>>>>> 3a48b3ce35625d81dda884dddbe89eef29ab7e4d
    padding: 2rem;
}

