.navbar-header .navbar-toggle .icon-bar {
    background-color: blue;
    position: absolute;
}

.navbar-brand {
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}
.subtitle {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-family: cursive;
}
.navbar-right li a:hover {
    -webkit-animation: circle 1.5s ease-in forwards;
}

body {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

h4 {
    text-align: center;
    font-family: Courier;
    font-size: 25px;
}

h1, h3 {
    text-align: center;
    font-family: Big Caslon;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: Cursive;
    font-size: medium;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 1rem;
}
