header {
    z-index: 10;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: blue;
    /*position: absolute;*/
}

.navbar-brand {
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}
.subtitle {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-family: cursive;
}
/* Issue 1*/
@keyframes circle {
    from {color: red;}
    to {color: yellow;}
}

.navbar-right li a:hover {
    -webkit-animation-name: circle;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: forwards;
}


body {

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Issue #2 */
.worship {
    background:  url("../Home.jpg") repeat-x center;
    height: 500px;
    left: 0;
    z-index: 1;
    /*line-height: 500px;*/
    margin: 10px 0 0 0;
    /*margin-top: -100px;*/
    /*position: absolute;*/
    width: 100%;
}
.welcome {
    margin-top: 100px;
}

.welcome p {
    margin-top: 80px;
}

h4 {
    text-align: center;
    font-family: Courier;
    font-size: 25px;
}

h1, h3 {
    text-align: center;
    font-family: Big Caslon;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: Cursive;
    font-size: medium;
}

footer {
    position: absolute;
    background-color: #000000;
    bottom: 0px;
    width: 100%;
    /*right: 0px;
    left: 0px;*/
    padding: 2rem;
}
